.dg.main{width: 100% !important}
.dg.main .close-button{display:none !important;width: 100% !important;background-color:none !important}
.dg.main .close-button:hover{background-color:none !important}
#dg-new-constructor{font-family: "Montserrat", sans-serif !important}
.dg{font-size:11px !important; font-family: "Montserrat", sans-serif !important; text-shadow:none !important}; /*'Lucida Grande', sans-serif;text-shadow:0 -1px 0 #111}*/
.dg.main::-webkit-scrollbar{width:5px;background:#1a1a1a}
.dg.main::-webkit-scrollbar-corner{height:0;display:none}
.dg.main::-webkit-scrollbar-thumb{border-radius:5px;background:#676767}
.dg li:not(.folder){background:none !important;border-bottom-color:rgba(255,255,255,0.2) !important}
.dg li.title{background: url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==) 6px 10px no-repeat !important}

.dg .cr.boolean{border-left:none !important}
.dg .cr.color{border-left:none !important}
.dg .cr.function{border-left:none !important}
.dg .cr.number{border-left:none !important;}
.dg .cr.number input[type=text]{color:none !important;}
.dg .cr.string{border-left:3px solid none !important}
.dg .cr.string input[type=text]{color:none !important}

.dg .c input[type=text]{text-shadow:none !important;height: 100% !important;}
.dg .c .slider-fg{background:#f27793 !important;max-width:100% !important}
.dg .c .slider:hover .slider-fg{background:#f27793 !important}

.dg-collection{width:70% !important;display:inline-block !important}
.dg-collection > div > .property-name{width: 80% !important}
.dg-collection > div > .c{width: 20% !important}
.dg-color{width: 30% !important;display:inline-block !important}
.dg-color > div > .c{width: 100% !important}
.closed > .dg-collection {display: none !important}
.closed > .dg-color {display: none !important}