#mySidebar {
    z-index: 4; 
    width: 200px;
    display: block;
}

#mySidebar div {
    outline: none;
}

#mySidebar button {
    outline: none;
}

#openNav {
    display: inline-block;
    z-index: 3;
}

#myRenderer {
    z-index: 2;
    height: calc(100% - 180px);
    width: calc(100% - 220px);
    left: 110px;
    top: 90px;
    position: absolute;
    border-width: 0;
    outline: none;
    transition: all 0.4s ease 0s;
}

#mySlider {
    z-index: 1;
    height: 116px;
    width: calc(100% - 220px);
    margin-left: 210px;
    position: fixed;
    bottom: 0;
    display: none;
    transition: all 0.4s ease 0s;
}

#rowSlider {
    display: flex;
    overflow-x: auto;
}

#myContent {
    z-index: 1;
    height:calc(90% - 20px);
    width:calc(100% - 220px);
    margin-left:210px;
    position:fixed;
    top:10px;
    transition: all 0.4s ease 0s;
}

#myCluster {
    height: 100%;
    width: 100%;
    transition: all 0.4s ease 0s;
}

.cluster {
    position: absolute;
    transition: all 0.1s ease 0s;
    z-index: 2;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.gallery-scroll::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
.gallery-scroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#leftCluster, #rightCluster {
    display: flex;
    flex-direction: column;
    width:150px;
    height:calc(100% - 212px);
    overflow:hidden;
}

#topCluster, #bottomCluster {
    display: flex;
    width:calc(100% - 290px);
    height:110px;
    overflow:hidden;
}

#myMenu:hover > .w3-button:first-child{
    background-color:#4CAF50;
    color:#fff
}