#myTimeline {
  position: fixed;
  width:calc(100% - 220px);
  left: 210px;
  height: 80px;
  top: calc(100% - 80px);
	display: flex;
	justify-content: center;
  align-items: center;
}

svg {
  max-width: 95%;
}

svg .selection, svg .overlay {
	/*fill: #f27793;*/
  opacity: 0;
}

svg text {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 90%;
}

svg .label {
  font-size: 12px;
}

svg .text {
  font-size: 10px;
}
/*
svg .overlay {
	opacity: 0.2;
	pointer-events: none;
}

svg .selection {
	fill-opacity: 0.8;
	stroke: none;
}
*/
svg .domain {
  stroke: none;
}

svg .tick text {
 font-weight: normal;
}

svg .drop {
  stroke-width: 10px;
}