#myTimeline {
    position: fixed;
    width: 100%;
    height: 10%;
    top: 90%;
	display: flex;
	justify-content: center;
    align-items: center;
}

svg {
  max-width: 95%;
}

svg .selection, svg .overlay {
	fill: #f27793;
}

svg text {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 90%;
}

svg .overlay {
	opacity: 0.2;
	pointer-events: none;
}

svg .selection {
	fill-opacity: 0.8;
	stroke: none;
}

svg .domain {
  stroke: none;
}

svg .tick text {
 font-weight: normal;
}